<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chuck Norris Quotes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" sizes="96x96">

    <!-- CSS -->
    <link th:href="@{/css/custom.css}" href="#" rel="stylesheet" />

    <!-- JavaScript & Vue -->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="#" th:src="@{/js/quotes.js}" defer></script>
</head>
<body>
    <div id="chuck-norris-app">
        <chuck-norris></chuck-norris>
    </div>
</body>
</html>
